.list-group
- @Records.each do |record|
	%a.list-group-item
		%h4.list-group-item-heading
			%strong #{record.date}
		%p.list-group-item-text #{record.text}
		%p.list-group-item-text Usuario: #{record.user}